$green: rgb(116, 183, 63);
$background: white;
$orange: #fd8500;

body {
  font-family: Gibson-Regular, Arial;
  color: $green;
  margin: 0px;
  padding: 0px;
}

a {
  font-size: 100%;
  font: inherit;
  text-decoration: inherit;
  color: inherit;
}



.in {
  display: none;
}

.left {
  text-align: left;
}

#track {
  width: 10px;
}

#navigation {
  width: 100%;
  padding-top: 0px;
  margin-top: 0px;
  position: fixed;
  height: 100px;
  background-color: $background;
  z-index: 1;
  border-bottom-style: solid;

  text-transform: uppercase;

  overflow-x: hidden;
  #navContainer {
    margin: 10px 0px 0px 5px;
  }

  h1 {
    display: inline;
    padding: 0px;
    letter-spacing: 100%;
  }

  nav {

    ul {
      padding: 0px 0px ;
      margin-top: 10px;


      li {
        padding-bottom: 5px;
        letter-spacing: -1px;
      }

      a:hover {
        font-weight:bold;
      }

      #currentAlbum:before {
        content: "albums >";
        padding-right: 5px;
        font-weight:bold;
      }

      #currentArtist:before {
        content: "artists >";
        padding-right: 5px;
        font-weight:bold;
      }

    }
  }
}

#player {
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  height: 60px;
  padding-bottom: 10px;
  z-index: 1;
  background: $background;


  transition: height 0.8s ease-out;
  -webkit-transition: height 0.8s ease-out;
  &.expand {
    height: 90%;

    #playerTab p{
      margin: 0px 0px 0px 0px;
      &:before{
        content: "v"
      }
    }
  }

  #playerControls{
    border-top-style: solid;
    border-width: 2px;
    height: 100%;
    width: 100%;
  }


  ul {
    padding: 0px;
    margin: 0px;
  }

  li {
    padding: 0px;
    margin: 0px;
  }

  #nowPlaying {
    display: block;
    float: left;
    clear: both;
    backrgound-color: $background;
    li {
      display: block;
      text-align: left;
    }
  }

  #controls {
    display: block;
    margin: auto;
    li {
      display: inline;
    }
    padding-bottom: 10px;
  }

  #queue {
    clear:both;
  }

  #playerTab{
    position: absolute;
    right: 0px;
    top: -25px;
    height: 20px;
    width: 100px;
    border: solid;
    background-color: $green;
    border-top-left-radius: 15px;
    cursor: pointer;

    p {
      margin: 5px 0px 0px 0px;
    }

    p:before {
      content: "^";
      color: $background;
      font-size: 18px;
      font-weight: bold;
    }

  }
}

td.short {
  width: 10px;
}

#main {
  position: absolute;
  top: 100px;
  bottom: 120px;
  width: 100%;
  overflow-x: hidden;
  table {
    width: 100%;
    border-spacing:0;
    border-collapse:collapse;
    tbody tr {
      cursor: pointer;
      border-style: solid;
      border-width: 1px;
      border-color: $background;
      letter-spacing: 1px;

      td {
        padding: 7px 7px 7px 2px;
      }

      &:hover {
        border-style: double;
        border-width: 1px;
        border-color: $green;
      }

      a {
        display: block;
        width: 100%;
      }
    }
    th {
      text-transform:uppercase;
      letter-spacing: 5px;

    }
  }
}


#player {
    height: 100px;
    width: 100%;
    border-style-top: solid;
    //border-color: grey;

    margin-top: 20px;
}

#progressionBar {
  position: relative;
  height: 7px;
  width: 80%;
  top: -3px;
  left: 0px;

  cursor: pointer;

}

#slider {
  position: absolute;
  height: 100%;
  width: 0px;

  background-color: $orange;
}

#sliderHead {

  position: absolute;
  height: 17px;
  width: 17px;

  left: 0;

  margin-top: -5px;
  margin-left: -1px;

  border-radius: 10px;

  background-color: $orange;

  cursor: pointer;
}

