$green: rgb(116, 183, 63);
$background: white;

body {
  font-family: Gibson-Regular, Arial;
  color: $green;
  margin: 0px;
  padding: 0px;
}

.in {
  display: none;
}

.left {
  text-align: left;
}

#track {
  width: 10px;
}

#navigation {
  width: 100%;
  padding-top: 0px;
  margin-top: 0px;
  position: fixed;
  height: 100px;
  background-color: $background;
  z-index: 1;
  border-bottom-style: solid;

  text-transform: uppercase;

  overflow-x: hidden;
  #navContainer {
    margin: 10px 0px 0px 5px;
  }

  h1 {
    display: inline;
    padding: 0px;
    letter-spacing: 100%;
  }

  nav {

    ul {
      padding: 0px 0px ;
      margin-top: 10px;


      li {
        cursor: pointer;
        padding-bottom: 5px;
        letter-spacing: -1px;
        &:after {
          content: "";
          padding-right: 20px;
        }
        &:hover {
          font-weight:bold;
        }
      }
      #currentAlbum:before {
        content: "albums >";
        padding-right: 5px;
        font-weight:bold;
      }

      #currentArtist:before {
        content: "artists >";
        padding-right: 5px;
        font-weight:bold;
      }

    }
  }
}

#player {
  position:fixed;
  left:0px;
  bottom:0px;
  max-height:5%;
  width:100%;
  z-index: 1;
  background: $background;
  text-align: center;
  padding-bottom: 20px;
  height: auto;

  transition: max-height 0.8s ease-out;
  -webkit-transition: max-height 0.8s ease-out;
  &.expand {
    max-height: 100%;

    #playerTab p{
      margin: 0px 0px 0px 0px;
      &:before{
        content: "v"
      }
    }
  }

  #playerControls{
    border-top-style: solid;
    border-width: 2px;
    ul li {
      display: inline;
      padding: 0px 30px;
      cursor: pointer;
    }
  }

  #controls {
    display: inline-block;
    float: left;
  }

  #nowPlaying{
    display: inline-block;
    float: left;
    height: 20px;
    width: 500px;
    z-index: 999;
    backrgound-color: $background;

    p {
      text-align: left;
      margin: 10px 0px 0px 0px;
    }

  }
  #playerTab{
    position: absolute;
    right: 0px;
    top: -25px;
    height: 20px;
    width: 100px;
    border: solid;
    background-color: $green;
    border-top-left-radius: 15px;
    cursor: pointer;

    p {
      margin: 5px 0px 0px 0px;
    }

    p:before {
      content: "^";
      color: $background;
      font-size: 18px;
      font-weight: bold;
    }

  }
}

td.short {
  width: 1px;
}
#main {
  position: relative;
  top: 90px;
  bottom: 20px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  table {
    width: 100%;
    border-spacing:0;
    border-collapse:collapse;
    tbody tr {
      cursor: pointer;
      border-style: solid;
      border-width: 1px;
      border-color: $background;
      letter-spacing: 1px;

      &:hover {
        border-style: double;
        border-width: 1px;
        border-color: $green;
      }

      td {
        padding: 7px;
      }
    }
    th {
      text-transform:uppercase;
      letter-spacing: 5px;

    }
  }
}
