<html lang="en" ng-app="jukeboxApp">
  <head>
    <meta name="viewport" content="width=320, user-scalable=false">
    <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
    <script src="/javascript/lib/jquery/jquery.js"></script>
    <script src="/javascript/lib/angular/angular.js"></script>
    <script src="/javascript/lib/angular/angular-resource.js"></script>
    <script src="/javascript/lib/angular/angular-route.js"></script>
    <script src="/javascript/app.js"></script>
    <script src="/javascript/controllers.js"></script>
    <script src="/javascript/services.js"></script>
    <script src="/javascript/directives.js "></script>
  </head>

  <body>
    <div id="app">
      <div ng-controller="NavCtrl" id="navigation">
        <div id="navContainer">
          <h1 id="currentSection">{{route.current.scope.title}}</h1>
          <nav>
            <ul>
              <li>
                <a ng-hide="route.current.scope.title == 'Artists'" id="currentArtist" href="#/artists">
                  {{route.current.scope.artist.name}}
                </a>
              </li>
              <li>
                <a ng-show="route.current.scope.title == 'Songs'" id="currentAlbum" href="#/artists/{{route.current.scope.artist.id}}">
                  {{route.current.scope.album.name}}
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div ng-view ></div>

      <div ng-controller="PlayerCtrl" id="player">
    <!--        <div id="playerTab"></div> -->
        <div id="playerControls">
          <progress-bar></progress-bar>
          <div id="controls">
            <ul>
              <li id="seekLeft">
                <i class="fa fa-step-backward fa-2x"></i>
              </li>
              <li id="status" ng-click="playerToggle()">
                <i class="fa fa-pause fa-2x" ng-show="player.playing"></i>
                <i class="fa fa-play fa-2x" ng-hide="player.playing"></i>
              </li>
              <li id="seekRight">
                <i class="fa fa-step-forward fa-2x"></i>
              </li>
            </ul>
          </div>
          <div id="nowPlaying">
            <ul>
              <li id="nowArtist">{{player.song.artist}}</li>
              <li id="nowSong">{{player.song.title}}</li>
              <li id="noAlbum">{{player.song.album}}</li>
            </ul>
          </div>
        </div>
        <div id="queue">
          <table>
            <caption> the queue goes here</caption>
            <tbody>
        <div>
      </div>
    </div>
  </body>
</html>
